.container {
  padding-top: 20px;
}

.container > .title {
  margin-bottom: 20px;
}

.container > .desc {
  margin-bottom: 20px;
}

.container > .desc > h5 {
  margin-bottom: 10px;
}

.container > .desc > p > span {
  font-family: "pretendard_bold";
}

.codeInput {
  width: 50% !important;
}

.btnBox {
  display: flex;
  column-gap: 10px;
}

.profileInfo > div {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.profileInfo > div > .content {
  display: grid;
  grid-template-columns: 250px 100px;
  align-items: center;
  column-gap: 10px;
}

.profileInfo > div > .content > p {
  font-size: 16px;
}

.modal > h5 {
  margin-bottom: 10px;
}

.modal > ul > li {
  margin-bottom: 10px;
}

.modal > ul > li > ul {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  column-gap: 10px;
  align-items: center;
}

.modal > ul > li > ul > li {
  position: relative;
}

.modal > ul > li > ul > li > span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .btnBox {
    justify-content: center;
  }

  .profileInfo > div {
    display: flex;
    flex-direction: column;
  }

  .profileInfo > div > h6 {
    margin-bottom: 5px;
  }

  .profileInfo > div > .content {
    display: initial;
    width: 100%;
    margin-bottom: 10px;
  }

  .profileInfo > div > .content > p,
  .profileInfo > div > .content > input {
    text-align: center;
  }

  .profileInfo > div > .content > button {
    width: 100%;
    margin-top: 5px;
  }

  .code {
    width: 100%;
  }

  .code > h3 {
    font-size: 25px;
  }
}
