/* .signUpBox {
  width: 500px;
} */

.okBtnBox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.spacing {
  margin-top: 10px;
}

.timeLeft {
  display: inline-block;
  width: 20px;
  background: var(--primary-dark-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .spacing {
    display: none;
  }

  .indicator {
    margin-top: 30px;
  }

  .timeLeft {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin-right: 0;
  }
}
