.signUpBox {
  width: 500px;
}

.okBtnBox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.spacing {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .spacing {
    display: none;
  }

  .indicator {
    margin-top: 30px;
  }
}
