.calendar {
  display: flex;
  background: var(--white);
  border-radius: 10px;
}

.calendar > div {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yearMonthToggleBtn {
  display: flex;
  column-gap: 7px;
  background: var(--sub-color);
  padding: 7px;
  border-radius: 5px;
}

.yearMonthToggleBtn button {
  color: var(--disabled-color-i);
  background: var(--disabled-color-ii) !important;
  padding: 3px 10px !important;
}

.yearMonthToggleBtn button:disabled {
  color: var(--font-color);
  background: var(--white) !important;
}

.header button,
.subBox > .content button {
  border: none;
  background: none;
  padding: 0;
}

.subBox {
  background: var(--main-color);
  border-radius: 10px 0 0 10px;
}

.subBox h6 {
  color: var(--white);
}

.subBox .header {
  column-gap: 12px;
  margin-bottom: 16px;
}

.subBox > .content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.subBox > .content button {
  width: 100%;
  color: var(--font-color);
  text-align: center;
  font-size: 14px;
  padding: 4px 0;
  border-radius: 5px 0 0 5px;
}

.subBox > .content button:hover,
.subBox > .content .selected {
  background: var(--sub-color);
}

.mainBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainBox .header {
  column-gap: 30px;
  margin-bottom: 16px;
}

.mainBox > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mainBox > .content > ul {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
}

.daysOfWeek {
  text-align: center;
  margin-bottom: 4px;
}

.days {
  flex: 1;
}

.days button {
  position: relative;
  border: none;
  background: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.days button:hover {
  background: var(--main-color);
}

.days button:hover > span {
  color: var(--white) !important;
}

.days button > span {
  position: absolute;
  top: 2px;
  left: 2px;
  color: var(--font-color);
}

.days .today {
  color: var(--bright-green) !important;
}

.days > li {
  border: 1px solid var(--border-color);
  padding: 3px;
  font-weight: 600;
}

.days > li:first-child {
  border-radius: 5px 0 0 0;
}

.days > li:nth-child(7n) > button > span {
  color: var(--bright-blue);
}

.days > li:nth-child(7n + 1) > button > span {
  color: var(--bright-red);
}

.days > li:nth-child(7) {
  border-radius: 0 5px 0 0;
}

.days > li:nth-last-child(7) {
  border-radius: 0 0 0 5px;
}

.days > li:last-child {
  border-radius: 0 0 5px 0;
}

.days .disabled {
  font-size: 10px;
  font-weight: 400;
  color: var(--disabled-color-i) !important;
}

.days > li > .content {
  height: 80px;
  padding: 0;
}

.days > li > .content > p {
  color: var(--font-color);
}

.days > li > .content .schedules {
  display: flex;
  align-items: center;
  column-gap: 3px;
  color: var(--font-color);
}

.days > li > .content:hover .schedules {
  color: var(--white);
}

.days > li > .content .schedules > span > span {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.days > li > .content:hover .schedules > span > span {
  border: 1px solid var(--white);
}

.scheduleCovers {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 3px;
}

.multiple {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup button {
  background: none;
  padding: 0;
}

.popup .header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup > .content .schedules {
  height: 200px;
  overflow-y: auto;
}

.popup > .content > p {
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup > .content > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popup > .content > ul > li {
  margin-bottom: 10px;
}

.popup > .content > ul > li > button {
  width: 100%;
  color: var(--font-color);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border: 1px solid var(--white);
  padding: 10px;
}

.popup > .content > ul > li > button:hover {
  border: 1px solid var(--main-color);
}

.popup > .content > ul > li > button:active {
  background: var(--main-color);
  color: var(--white);
}

.popup > .content > ul > li > button:active .categoriesColor {
  border: 2px solid var(--white);
}

.popup > .content > ul > li > button .categoriesColor {
  display: inline-block;
  width: 13px;
  height: 13px;
}

.popup > .content > ul > li > ul {
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
}

.popup > .content > ul > li > ul > li {
  position: relative;
}

.popup > .content > ul > li > ul > li > button {
  width: 100%;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.popup > .content > ul > li > ul > li > textarea {
  width: 100%;
  border-radius: 5px;
}

.popup > .content > ul > li > ul > li > input[type="text"] {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.popup > .content > ul > li > ul > li > input[type="radio"] {
  display: none;
}

.popup > .content > ul > li > ul > li > input[type="radio"] + label {
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.popup > .content > ul > li > ul > li > input[type="radio"] + label:last-child {
  margin-right: 0;
}

.popup > .content > ul > li > ul > li > .repeating {
  background: var(--main-color);
  color: var(--white);
}

.popup > .content > ul > li > ul > li > ul {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.popup > .content > ul > li > ul > li > ul > li {
  background: var(--white);
}

.popup > .content > ul > li > ul > li > ul > li > button {
  color: var(--font-color);
}

.popup > .content > .btnBox {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.user > li {
  border-bottom: 1px solid var(--border-color);
}

.user > li:last-child {
  border-radius: 0 0 5px 5px;
}

.user > li:last-child > button > span {
  border-bottom: none;
}

.user > li > button {
  width: 100%;
  padding: 0 10px;
}

.user > li > button:hover {
  border-radius: 0;
  background: var(--main-color);
  color: var(--white);
}
.user > li > button:hover > span {
  border-bottom: none;
}

.user > li > button > span {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

.selectedCategories {
  width: calc(100% - 9px);
}

.selectedCategories > span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories > li {
  display: grid;
  border-bottom: 1px solid var(--border-color);
}

.categories > li:nth-last-child(2) {
  border-bottom: none;
}

.categories > .list {
  border: 1px solid var(--white);
  border-bottom: 1px solid var(--border-color);
  grid-template-columns: 1fr 16px 16px;
  column-gap: 10px;
}

.categories > .list > button {
  padding: 10px 0;
}

.categories > .list:hover {
  border: 1px solid var(--main-color);
}

.categories > .selectedList {
  background: var(--main-color) !important;
  border: 1px solid var(--main-color);
}

.categories > .selectedList > button {
  color: var(--white) !important;
}

.categories > .selectedList:hover {
  border: 1px solid var(--white);
}

.categories .edit {
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.categories .edit > input[type="color"] {
  width: 24px;
  height: 24px;
  margin: auto;
}

.categories .edit > input[type="text"] {
  flex: 1;
  width: 100%;
  padding: 10px;
}

.categories .edit > button {
  width: 30px;
  height: 30px;
}

.categories .edit > button:hover {
  border: 1px solid var(--main-color);
}

.createCategory {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--border-color);
}

.createCategory > button {
  padding: 3px 0;
}
