.calendar {
  position: relative;
  display: flex;
  justify-content: center;
  transition: right 0.5s ease-in-out;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  height: 55px;
}

.multiple {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled:hover {
  background: var(--gray-400) !important;
}

.yearMonthToggleBtn {
  display: flex;
  column-gap: 7px;
  background: var(--primary-dark-color);
  padding: 7px;
  border-radius: 5px;
}

.yearMonthToggleBtn button {
  color: var(--gray-400);
  background: var(--gray-300) !important;
  padding: 3px 10px !important;
}

.yearMonthToggleBtn button:disabled {
  color: var(--font-color);
  background: white !important;
}

.header button,
.subBox > .content button {
  border: none;
  background: none;
  padding: 0;
}

.subBox {
  position: relative;
  display: flex;
  column-gap: 5px;
  border-radius: 10px 0 0 10px;
  background: var(--primary-dark-color);
  transition: left 0.5s ease-in-out;
}

.subBox h6 {
  color: white;
}

.subBox .moreBtn {
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.subBox > .header {
  column-gap: 12px;
}

.subBox > .content {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.subBox > .content > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: space-between;
  overflow-y: auto;
}

.subBox > .content > .content button {
  width: 100%;
  color: var(--font-color);
  text-align: center;
  font-size: 14px;
  padding: 4px 0;
  border-radius: 5px 0 0 5px;
}

.subBox > .content > .content button:hover,
.subBox > .content > .content .selected {
  background: var(--primary-dark-color);
}

.mainBox {
  width: 70%;
  position: relative;
  padding: 10px;
  background: white;
  border-radius: 0 10px 10px 0;
}

.mainBox > .header {
  column-gap: 30px;
}

.mainBox > .header button {
  color: var(--font-color);
}

.mainBox > .header input[type="number"] {
  font-size: 20px;
  text-align: center;
}

.mainBox > .content {
  flex: 1;
  margin: 0 auto;
}

.mainBox > .content > ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.inputYear {
  width: 90px;
}

.inputMonth {
  width: 65px;
}

.daysOfWeek {
  text-align: center;
  margin-bottom: 4px;
}

.days button {
  position: relative;
  border: none;
  background: none;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
}

.days button:hover {
  background: var(--primary-color);
}

.days button:hover > span {
  color: white !important;
}

.days button > span {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--font-color);
}

.days .today {
  color: var(--bright-green) !important;
}

.days > li {
  border: 1px solid var(--gray-300);
  padding: 3px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}

.days > li:first-child {
  border-radius: 5px 0 0 0;
}

.days > li:nth-child(7n) > button > span {
  color: var(--bright-blue);
}

.days > li:nth-child(7n + 1) > button > span {
  color: var(--bright-red);
}

.days > li:nth-child(7) {
  border-radius: 0 5px 0 0;
}

.days > li:nth-last-child(7) {
  border-radius: 0 0 0 5px;
}

.days > li:last-child {
  border-radius: 0 0 5px 0;
}

.days .subDate {
  font-size: 10px;
  font-weight: 400;
  color: var(--gray-400) !important;
}

.days > li > .content {
  height: 100px;
}

.days > li > .content > p {
  color: var(--font-color);
}

.days > li > .content .schedule {
  display: flex;
  align-items: center;
  column-gap: 3px;
  color: var(--font-color);
}

.days > li > .content:hover .schedule {
  color: white;
}

.days > li > .content .schedule > span > span {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.days > li > .content:hover .schedule > span > span {
  border: 1px solid white;
}

.days .day {
  margin-left: 2px;
}

.scheduleCovers {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.scheduleCovers > p {
  margin-bottom: 2px;
}

.scheduleCovers > p:last-child {
  margin-bottom: 0;
}

.multipleSchedules {
  height: 15.5px;
  color: white !important;
}

.miniCalendar {
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  z-index: 1002;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--gray-300);
  padding: 10px;
}

.miniCalendar > .header {
  column-gap: 10px;
  margin-bottom: 0px;
  height: initial;
  margin-bottom: 10px;
}

.miniCalendar > .content > ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.miniCalendar > .content > .days > li {
  display: flex;
  padding: 1px;
}

.miniCalendar > .content > .days > li > .content {
  height: 30px;
}

.miniCalendar > .content > .days button {
  padding: 0;
}

.miniCalendar > .content > .days button > span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .calendar {
    flex-direction: column;
    right: 0 !important;
    align-items: center;
  }

  .subBox {
    display: none;
  }

  .mainBox {
    width: 90%;
    border-radius: 10px;
  }

  .mainBox > .header {
    column-gap: 10px;
  }

  .days > li > .content {
    height: 50px;
    padding: 10px 0;
  }
}
