.week {
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.week > ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week > ul:first-child {
  text-align: center;
}

.day > li {
  height: 100px;
  padding: 5px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.schedule {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.categories {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.bulletPoint {
  display: inline-block;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
