.mobile {
  display: none;
}

.tapBox {
  display: flex;
  margin-bottom: 10px;
}

.tapBox > button {
  flex: 1;
  background: var(--gray-400);
}

.tapBox > button:hover {
  background: var(--primary-dark-color);
}

.tapBox > button:disabled {
  background: var(--primary-color);
}

.tapBox > button:first-child {
  border-radius: 5px 0 0 5px;
}

.tapBox > button:last-child {
  border-radius: 0 5px 5px 0;
}

.email > li > ul > li:first-child {
  width: 80px;
}

.email > li > ul > li:last-child > button {
  width: 80px;
}

.recoveryBox {
  width: 100%;
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }

  .nonMobile {
    display: none;
  }

  .loadingBox {
    width: 100%;
  }

  .email > li > ul > li:last-child > button {
    width: 100%;
  }
}
