.mobile {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin-bottom: 20px;
}

.header > button {
  border: none;
  background: none;
  padding: 0;
  margin-right: 16px;
}

.header > h3 {
  flex: 1;
}

.tapBox {
  display: flex;
  margin-bottom: 10px;
}

.tapBox > button {
  flex: 1;
  background: var(--disabled-color-i);
}

.tapBox > button:disabled {
  background: var(--primary-color);
}

.tapBox > button:first-child {
  border-radius: 5px 0 0 5px;
}

.tapBox > button:last-child {
  border-radius: 0 5px 5px 0;
}

.content > h5 {
  margin-bottom: 10px;
}

.content input {
  width: 100%;
  font-size: 17px;
}

.content button {
  width: 75px;
}

.content > ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.content > ul > li > ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.content > ul > li > ul > li {
  position: relative;
}

.content > ul > li > ul > li:nth-child(2) {
  flex: 1;
}

.content > ul > li > ul > li:first-child > h6 {
  width: 65px;
}

.content > ul > li > ul > li > span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.loadingBox {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .nonMobile {
    display: none;
  }

  .content h2 {
    font-size: 28px;
  }

  .content h4 {
    font-size: 18px;
  }

  .content button,
  .loadingBox {
    width: 100%;
  }

  .content > ul > li > ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .content > ul > li > ul > li {
    width: 100%;
  }

  .content > ul > li > ul > li:first-child > h6 {
    width: initial;
  }
}
