.signInBox > h3 {
  margin-bottom: 20px;
}

.signInBox > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signInBox > ul > li > button {
  width: 100%;
}

.signInBox > ul > li:first-child > button {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid white;
}

.signInBox > ul > li:last-child > button {
  border-radius: 0 5px 5px 0;
}

.signInBox .innerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.signInBox .innerBox > ul {
  margin-right: 10px;
}

.signInBox .innerBox > ul > li:first-child {
  margin-bottom: 10px;
}

.signInBox .innerBox > button {
  padding: 0 30px;
}

.signInBox .innerBox input[type="text"],
.signInBox .innerBox input[type="password"] {
  width: 100%;
  font-size: 17px;
}

.passwordVisibleBtn {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordVisibleBtn:hover {
  background: none;
}

@media (max-width: 768px) {
  .signInBox .innerBox {
    display: initial;
  }

  .signInBox .innerBox > ul {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .signInBox .innerBox > button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
  }
}
