.background {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 5px;
}

.background > div {
  background: white;
  border-radius: 5px;
}

.sideMenu {
  padding: 5px;
}

.sideMenu > ul {
  width: 100%;
}

.sideMenu > ul > li > button {
  width: 100%;
  background: none;
  color: var(--font-color);
}

.sideMenu > ul > li > button:hover {
  background: var(--gray-300: #d2c8cb);
}

.sideMenu > ul > li > .selected {
  border-radius: 5px 0 0 5px;
  border-right: 2px solid var(--primary-color);
}

.content {
  padding: 10px 40px 20px;
}

@media (max-width: 767px) {
  .background {
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 10px 20px 20px;
  }

  .sideMenu {
    background: none !important;
    margin-bottom: 10px;
  }

  .sideMenu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
  }

  .sideMenu > ul > li > button {
    border-radius: 1px;
    background: white;
  }

  .sideMenu > ul > li:first-child > button {
    border-radius: 5px 0 0 0;
  }

  .sideMenu > ul > li:last-child > button {
    border-radius: 0 0 5px 0;
  }

  .sideMenu > ul > li > .selected {
    border-radius: 1px;
    border: 2px solid var(--primary-color);
  }
}
