.header {
  width: 100%;
}

.header > nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.logoBox {
  display: inline-block;
  margin-right: 30px;
}

.logoBox h5 {
  font-family: "sf_pro_bold";
}

.menuBox {
  display: inline-block;
  width: 100%;
}

.menuBox > ul {
  display: flex;
  justify-content: space-between;
}
