.header {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.header > button {
  border: none;
  background: none;
  padding: 0;
}

.header > h3 {
  flex: 1;
}

.signUpBox > .content {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.signUpBox > .content input {
  font-size: 17px;
}

.signUpBox > .content > li > ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.signUpBox > .content > li > ul > li:first-child > h6 {
  width: 65px;
}

.signUpBox > .content > li > ul > li:last-child {
  position: relative;
  width: 100%;
}

.signUpBox > .content > li > ul > li > span,
.signUpBox > .content > li > ul > li > ul > li > span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.signUpBox > .content > li > ul > li > ul > li {
  position: relative;
}

.identificationLine > ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.identificationLine > ul > li:first-child {
  flex: 1;
}

.identificationLine > ul button {
  width: 100%;
}

.emailLine button {
  position: relative;
  width: 120px;
  border-radius: 0;
  color: var(--font-color);
  background: white;
  border: 1px solid var(--gray-300);
  text-align: left;
}

.emailLine > ul {
  position: relative;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.emailLine > ul > li:first-child {
  flex: 1;
}
.emailLine > ul > li:last-child {
  flex: 2;
}

.emailLine > ul > li:last-child > ul {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  column-gap: 10px;
}

.emailLine > ul > li:last-child > ul > :last-child > button {
  display: flex;
  justify-content: space-between;
}

.emailLine > ul > li:last-child > ul > :last-child > ul {
  position: absolute;
}

.emailLine > ul > li:last-child > ul > :last-child > ul > li > button:hover {
  background: var(--primary-color);
  color: white;
}

.okBtnBox {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .signUpBox > .content > li > ul {
    flex-direction: column;
  }

  .signUpBox > .content > li > ul > li:first-child > h6 {
    width: 100%;
  }

  .emailLine > ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .emailLine > ul > li {
    width: 100%;
  }
}
