.signInBox > h3 {
  margin-bottom: 20px;
}

.signInBox > .subBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInBox > .subBox > ul {
  display: flex;
  column-gap: 10px;
}

.signInBox > .subBox > ul a {
  color: var(--gray-800);
  font-size: 13px;
}

.signInBox > .subBox > ul a:hover {
  color: var(--gray-600);
}

.signInBox > ul > li > button {
  width: 100%;
}

.signInBox > ul > li:first-child > button {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid white;
}

.signInBox > ul > li:last-child > button {
  border-radius: 0 5px 5px 0;
}

.signInBox .innerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.signInBox .innerBox > ul {
  margin-right: 10px;
}

.signInBox .innerBox > ul > li:first-child {
  margin-bottom: 10px;
}

.signInBox .innerBox > button {
  padding: 0 30px;
}

.signInBox .innerBox input[type="text"],
.signInBox .innerBox input[type="password"] {
  font-size: 17px;
}

.socialSignInBox {
  margin-top: 20px;
}

.socialSignInBox > .btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-top: 10px;
}

.socialSignInBox > .btnBox > button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .signInBox .innerBox {
    display: initial;
  }

  .signInBox .innerBox > ul {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .signInBox .innerBox > button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .signInBox .innerBox > button > h5 {
    font-size: 14px;
  }
}
